.formHeader, .formBody {
    text-align: center;
}

.formFields {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.formButton {
    display: flex;
    justify-content: center;
    align-content: center;
}

.formImage {
  min-height: 100vh; 
  width: 100%;
  background-image: url("../../assets/wildflowers.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 40px;
}