/* Flower animation */

.flexBanner1 {
  position: relative;
  width: 100%;
  color: black;
  padding: 2rem;
  background-image: url("/public/Images/daisies.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  animation: zoomOut 20s linear forwards;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@keyframes zoomOut {
  from {
    background-size: 120%;
  }
  to {
    background-size: 100%;
  }
}

.textBlock1 {
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  padding: 2rem;
  text-align: center !important;
  border-radius: 8px;
  max-width: 90vw;
  z-index: 2;
  position: relative;
  align-content: center !important;
  justify-content: center !important;
}

.buttonsDiv {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

/* Banner 2: Pay it Forward */

.Banner2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;        /* Let child divs match height */
  background-color: white;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  min-height: 400px;           /* Ensure visible height */
}

.Banner2Text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0rem 2rem;
  margin-bottom: 4px;
  flex: 1; /* Let text take available space */
  
}

.Banner2Text h2 {
  margin-bottom: 8px;
}

.Banner2Text p {
  margin: 6px 0;        /* Tight spacing between paragraphs */
  line-height: 1.5;     /* Slightly tighter line spacing */
  flex: 1;
  
}

.Banner2Text h2 {
  margin-bottom: 8px;
  width: 50vw;
}

.Banner2Text p {
  margin: 6px 0;        /* Tight spacing between paragraphs */
  line-height: 1.5;     /* Slightly tighter line spacing */
  flex: 1;
  
}

.Banner2Img {
  flex: 1;
  background-image: url("../../assets/pay-it-forward.png"); /* Public folder path */
  padding-right: 2rem;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  min-width: 400px;
  height: 400px; /* explicit height */
  justify-content: right;
}

/* Responsive: Hide image on small screens */

@media (max-width: 768px) {
  .Banner2 {
    flex-direction: column;
  }

  .Banner2Img {
    display: none;
  }
}